*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
nav{
    width: 100%;
height: 75px;
line-height: 75px;
padding: 0px 100px;
background-image: linear-gradient(#c71585,#191970);
text-align: center;

}
nav .logo p{
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
}

nav li{
    display: inline-block;
    list-style: none;
}
nav li a{
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 30px;
    color:white ;
    text-decoration: none;

}
nav li a:hover{
   color: #ffff00;
   
}
.content-item img {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
   
}
body{
    background-image: url(3d-abstract-network-communications-background-with-plexus-design.jpg);
}
.movie{
    text-align: center;
    position: relative;
    top: 80px;
    color: white;

}
.image-container {
    position: relative;
    display: inline-block;
    text-align: center;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.image-container:hover .overlay {
    opacity: 1;
}

.overlay img {
    width: 50px;
    height: 50px;
}
.pp{
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: larger;
    margin-bottom: 50px;
    padding-bottom: 50px;

}
.footer{
    position: fixed;
    bottom: 0px;
    background-color: #c71585;
    width: 100%;
    height: 40px;
}
.divfo{
    position: relative;
    text-align: center;
    top: 10px;
    color: white;
    font-weight: bold;

}
hr{
    background-color: #c71585;
}
